* {
    padding: 0;
    margin: 0;
}

nav {

    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
}


body {
    margin: 0;
    min-height: 100vh;

    background-image: url("images/back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#sec {
    display: flex;
    justify-content: flex-end;
    padding: 150px 100px 0 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.logo img {
    width: 40px;
    height: auto;
}

.links {
    margin: 0;

}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link a {
    text-decoration: none;
    color:green;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 5px;

}

.sign-container h2 {
    text-align: center;
}


.sign-container {
    display: flex;
    padding: 20px 10px;
    background-color:white;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    min-height: 300px;
    height: auto;
    justify-content: center;

}

.sign-comp input {
    display: block;
     width: 85%;
     height: 30px;
    margin: 0 auto 15px auto;
}

.sign-comp h2 {
    margin-bottom: 20px;
}

.sign-comp {
    width: 100%;
}

.sign-comp p{
    margin-top: 6px;
    font-weight: bold;
    text-align: center;
}

.sign-comp a{
    color: green;
    text-decoration: none;
}


.sign-comp label {
    display: block;
    width: 85%;
    margin: 0 auto 8px auto;
}


input {
    border: 2px solid black;
    border-radius: 150px;
    width: 250px;
   
    box-sizing: border-box;
    padding: 0 15px; 
}

input:hover {
    border: 2px solid black;
}

.sign-comp button {
    width: 85%;
    display: block;
    margin: 15px auto 0 auto;
    padding: 8px 24px;
    border: 2px solid black;
    border-radius: 150px;
    background-color: rgb(84, 7, 7);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.sign-comp button:hover {
    background-color: rgb(120, 10, 10);
}